<a uib-dropdown-toggle="">

   <em class="fa fa-sitemap"></em>

</a>
<!-- START Dropdown menu-->
<ul class="dropdown-menu animated flipInX">
    <li>
        <!-- START list group-->
        <div class="list-group">
            <!-- list item--> <a href="{{ENV.urlWebAuth}}" class="list-group-item">

            <div class="media-box">

               <div class="pull-left">

                  <em class="fa fa-users fa-2x text-primary"></em>

               </div>

               <div class="media-box-body clearfix">

                  <p class="m0">Quản trị hệ thống</p>

                  <p class="m0 text-muted">

                     <small>Quản lý tài khoản, nhóm...</small>

                  </p>

               </div>

            </div>

         </a>
            <!-- list item--> <a href="{{ENV.urlWebReport}}" class="list-group-item">

            <div class="media-box">

               <div class="pull-left">

                  <em class="fa fa-bar-chart fa-2x text-success"></em>

               </div>

               <div class="media-box-body clearfix">

                  <p class="m0">Báo cáo</p>

                  <p class="m0 text-muted">

                     <small>Xem báo cáo hệ thống vé</small>

                  </p>

               </div>

            </div>

         </a>
            <!-- list item--> <a href="{{ENV.urlApiQLDaiLy}}" class="list-group-item">

            <div class="media-box">

               <div class="pull-left">

                  <em class="fa fa-ticket fa-2x text-info"></em>

               </div>

               <div class="media-box-body clearfix">

                  <p class="m0">Quản lý đại lý</p>

                  <p class="m0 text-muted">

                     <small>Quản lý, thiết lập đại lý</small>

                  </p>

               </div>

            </div>

         </a>
            <!-- list item--> <a href="{{ENV.urlWebTool}}" class="list-group-item">

            <div class="media-box">

               <div class="pull-left">

                  <em class="fa fa-cogs fa-2x text-warning"></em>

               </div>

               <div class="media-box-body clearfix">

                  <p class="m0">Công cụ bán vé</p>

                  <p class="m0 text-muted">

                     <small>Các công cụ bán vé</small>

                  </p>

               </div>

            </div>

         </a>
            <!-- list item--> <a href="{{ENV.urlWebCrmAdmin}}" class="list-group-item">

            <div class="media-box">

               <div class="pull-left">

                  <em class="fa fa-life-ring fa-2x text-green"></em>

               </div>

               <div class="media-box-body clearfix">

                  <p class="m0">Thông tin hành khách</p>

                  <p class="m0 text-muted">

                     <small>Quản lý thông tin hành khách</small>

                  </p>

               </div>

            </div>

         </a>
        </div>
        <!-- END list group-->
    </li>
</ul>
<!-- END Dropdown menu-->