<h3 class="text-center text-thin">{{$user.userName}}
    <div ng-show="$user.displayName &amp;&amp; $user.displayName != $user.userName"
    class="text-muted">{{$user.displayName}}</div>
</h3>
<!-- START Language list-->
<div class="text-center">
    <div uib-dropdown="" is-open="language.listIsOpen" class="btn-group">
        <button type="button" uib-dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
        </button>
        <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"> <a ng-click="language.set(localeId, $event)" href="#">{{langName}}</a>
            </li>
        </ul>
    </div>
</div>
<!-- END Language list -->
<div class="list-group"> <a href="{{ENV.urlWebAuth}}#/settings" class="list-group-item">

      <em class="fa fa-user"></em>&nbsp; Sửa thông tin cá nhân</a> <a href="{{ENV.urlWebAuth}}#/changepass"
    class="list-group-item">

      <em class="icon-lock"></em>&nbsp; Đổi mật khẩu</a> <a href="#/app/logout"
    class="list-group-item">

      <em class="fa fa-sign-out"></em>&nbsp; Đăng xuất</a>
</div>