<div class="panel panel-primary hidden-print">
    <div class="panel-heading">
        <h3 class="panel-title">BK01: BÁO CÁO DOANH THU BOOKING</h3>
    </div>
    <div class="panel-body">
        <form name="reportForm" ng-submit="renderReport()" novalidate="" class="form-validate">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày bắt đầu
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="Ngay_BatDau" ng-model="input.Ngay_BatDau" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgay_BatDau" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control"
                            required="" />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgay_BatDau=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="Ngay_BatDau">Ngày bắt đầu không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày kết thúc
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="Ngay_KetThuc" ng-model="input.Ngay_KetThuc" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgay_KetThuc" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control"
                            required="" />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgay_KetThuc=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="Ngay_KetThuc">Ngày kết thúc không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span class="input-group-addon">Loại kế hoạch
                                <span class="text-danger">(*)</span>
                            </span>
                            <select class="form-control" name="LoaiKH" ng-model="input.LoaiKH" tabindex="1+" enter required>
                                <option value="">--Chọn--</option>
                                <option value="1">Đóng hàng</option>
                                <option value="3">Trả hàng</option>
                                <option value="2">Đường sắt (RTC)</option>
                                <option value="22">Đường sắt (THUE)</option>
                                <option value="21">Đường biển</option>
                                <option value="23">Đường dài</option>
                            </select>
                        </div>
                        <error-show type="required" name="LoaiKH">Vui lòng chọn loại kế hoạch</error-show>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('report')">
                        <em class="fa fa-play-circle"></em>&nbsp; Báo cáo
                    </button>
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('excel')">
                        <em class="fa fa-file-excel-o"></em>&nbsp; Xuất Excel
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="well well-lg report mb0">
    <div ng-show="loading" class="loading-spinner hidden-print" text="{{button=='excel'?'Đang xuất excel...':'Đang xuất báo cáo...'}}"></div>
    <div class="text-info hidden-print" ng-show="!submited">
        <div>
            <span class="fa fa-info-circle">&nbsp;</span>Chú ý!</div>
        <div>- Nhập các thông tin cần thiết sau đó bấm [Báo cáo] để xuất báo cáo, bấm [Xuất Excel] để tải về Excel.</div>
        <div>- Các thông tin có dấu
            <strong class="text-danger">(*)</strong>&nbsp; là bắt buộc phải nhập/chọn.</div>
    </div>
    <div ng-show="submited">
        <div ng-show="report.Data.length==0" class="alert alert-success mb0">Không có dữ liệu.</div>
        <div ng-show="report.Data.length>0" class="container-fluid">
            <table class="table report-head">
                <tr>
                    <td class="report-head-org hidden-xs">
                        <!--  <div ng-include="'app/views/partials/report-head-cong-ty.html'"></div>-->
                    </td>
                    <td class="report-head-title">
                        <h4>BÁO CÁO DOANH THU BOOKING</h4>
                        <div>Ngày từ {{report.Input.Ngay_BatDau|date:'dd/MM/yyyy'}} đến {{report.Input.Ngay_KetThuc|date:'dd/MM/yyyy'}}</div>
                        <div>Loại kế hoạch:
                            <span ng-show="report.Input.LoaiKH==1">Đóng hàng</span>
                            <span ng-show="report.Input.LoaiKH==3">Trả hàng</span>
                            <span ng-show="report.Input.LoaiKH==2">Đường sắt (RTC)</span>
                            <span ng-show="report.Input.LoaiKH==22">Đường sắt (THUE)</span>
                            <span ng-show="report.Input.LoaiKH==21">Đường biển</span>
                            <span ng-show="report.Input.LoaiKH==23">Đường dài</span>
                        </div>
                    </td>
                    <td class="report-head-info hidden-xs">
                        <div>Mẫu: BK01</div>
                    </td>
                </tr>
            </table>
            <div class="panel panel-primary report-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover report-table">
                        <thead>
                            <tr>
                                <th class="text-center" style="font-size:9pt" rowspan="2">STT</th>
                                <th class="text-center" style="font-size:9pt" rowspan="2">Số booking</th>
                                <th class="text-center" style="font-size:9pt" rowspan="2">Số cont</th>
                                <th class="text-center" style="font-size:9pt" rowspan="2">Số hiệu xe</th>
                                <th class="text-center" style="font-size:9pt" rowspan="2">Tên hàng</th>
                                <th class="text-center" style="font-size:9pt" rowspan="2">Khách hàng</th>
                                <th class="text-center" style="font-size:9pt" rowspan="2">Địa điểm đóng</th>
                                <th class="text-center" style="font-size:9pt" rowspan="2">Địa điểm trả</th>
                                <th class="text-center" style="font-size:9pt" rowspan="2">Mác tàu</th>
                                <th class="text-center" style="font-size:9pt" colspan="5">Chi Phí</th>
                                <th class="text-center" style="font-size:9pt" rowspan="2">Tiền thu Booking</th>
                            </tr>
                            <tr>
                                <th class="text-center" style="font-size:9pt">Cẩu</th>
                                <th class="text-center" style="font-size:9pt">Đường ngắn</th>
                                <th class="text-center" style="font-size:9pt">Đường dài</th>
                                <th class="text-center" style="font-size:9pt">VC trục</th>
                                <th class="text-center" style="font-size:9pt">Phát sinh</th>
                            </tr>
                            <tr>
                                <th class="text-center w3" style="font-size:9pt">1</th>
                                <th class="text-center w7" style="font-size:9pt">2</th>
                                <th class="text-center w7" style="font-size:9pt">3</th>
                                <th class="text-center w5" style="font-size:9pt">4</th>
                                <th class="text-center w5" style="font-size:9pt">5</th>
                                <th class="text-center w12" style="font-size:9pt">6</th>
                                <th class="text-center w7" style="font-size:9pt">7</th>
                                <th class="text-center w7" style="font-size:9pt">8</th>
                                <th class="text-center w5" style="font-size:9pt">9</th>
                                <th class="text-center w7" style="font-size:9pt">10</th>
                                <th class="text-center w7" style="font-size:9pt">11</th>
                                <th class="text-center w7" style="font-size:9pt">12</th>
                                <th class="text-center w7" style="font-size:9pt">13</th>
                                <th class="text-center w7" style="font-size:9pt">14</th>
                                <th class="text-center w7" style="font-size:9pt">15</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in report.Data">
                                <td class="text-center" style="font-weight:normal;font-size:9pt">{{$index + 1}}</td>
                                <td class="text-left" style="font-size:9pt">
                                    <div>{{item.SoBooking}}</div>
                                    <div>{{item.CreatedDate|date:'dd/MM/yyyy'}}</div>
                                </td>
                                <td class="text-left" style="font-size:9pt">
                                    {{item.SoHieuCont}}
                                </td>
                                <td class="text-left" style="font-size:9pt">
                                    {{item.SoHieuXe}}
                                </td>
                                <td class="text-left" style="font-size:9pt">
                                    {{item.TenHang}}
                                </td>
                                <td class="text-left" style="font-size:9pt">
                                    {{item.KhachHang_Ten}}({{item.KhachHang_MaKH}})
                                </td>
                                <td class="text-left" style="font-size:9pt">
                                    {{item.TenZoneDong}}
                                </td>
                                <td class="text-left" style="font-size:9pt">
                                    {{item.TenZoneTra}}
                                </td>
                                <td class="text-center" style="font-size:9pt">
                                    {{item.TenMacTau}}
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    <span ng-show="item.TienCau">{{item.TienCau|number}}</span>
                                    <span ng-show="!item.TienCau">0</span>
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    <span ng-show="item.TienDuongNgan">{{item.TienDuongNgan|number}}</span>
                                    <span ng-show="!item.TienDuongNgan">0</span>
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    <span ng-show="item.TienDuongDai">{{item.TienDuongDai|number}}</span>
                                    <span ng-show="!item.TienDuongDai">0</span>
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    <span ng-show="item.TienDuongSat">{{item.TienDuongSat|number}}</span>
                                    <span ng-show="!item.TienDuongSat">0</span>
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    <span ng-show="item.TienPhatSinh">{{item.TienPhatSinh|number}}</span>
                                    <span ng-show="!item.TienPhatSinh">0</span>
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    <span ng-show="item.ThanhTien">{{item.ThanhTien|number}}</span>
                                    <span ng-show="!item.ThanhTien">0</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left" style="font-size:9pt;font-weight:bold" colspan="9">
                                    Tổng:
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    {{report.Tong.TienCau|number}}
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    {{report.Tong.TienDuongNgan|number}}
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    {{report.Tong.TienDuongDai|number}}
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    {{report.Tong.TienDuongSat|number}}
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    {{report.Tong.TienPhatSinh|number}}
                                </td>
                                <td class="text-right" style="font-size:9pt">
                                    {{report.Tong.ThanhTien|number}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-info">
                <div>
                    <span class="fa fa-info-circle">&nbsp;</span>Ghi chú</div>
                <div>- Báo cáo được lấy số liệu vào lúc {{report.ReportTime|date:'dd/MM/yyyy HH:mm'}}</div>
            </div>
        </div>
    </div>
</div>