<div class="panel panel-primary hidden-print">
    <div class="panel-heading">
        <h3 class="panel-title">BKTram01: BẢNG KÊ KẾ HOẠCH XẾP DỠ THEO NGÀY</h3>
    </div>
    <div class="panel-body">
        <form name="reportForm" ng-submit="renderReport()" novalidate="" class="form-validate">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span class="input-group-addon">Ngày bắt đầu
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="Ngay_BatDau" ng-model="input.Ngay_BatDau" placeholder="dd/MM/yyyy"
                            is-open="openedNgay_BatDau" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions"
                            show-button-bar="false" show-weeks="false" class="form-control" required=""
                            />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgay_BatDau=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="Ngay_BatDau">Ngày bắt đầu không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span class="input-group-addon">Ngày kết thúc
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="Ngay_KetThuc" ng-model="input.Ngay_KetThuc" placeholder="dd/MM/yyyy"
                            is-open="openedNgay_KetThuc" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions"
                            show-button-bar="false" show-weeks="false" class="form-control" required=""
                            />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgay_KetThuc=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="Ngay_KetThuc">Ngày kết thúc không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span class="input-group-addon">Loại kế hoạch</span>
                            <select type="text" name="LoaiKH" ng-model="input.LoaiKH"
                            class="form-control">
                                <option value="">--Tất cả--</option>
                                <option value="1">Đóng hàng</option>
                                <option value="3">Trả hàng</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Đơn vị</span>
                            <select class="form-control" ng-model="input.DonVi" style="margin:0px"
                            name="DonVi" ng-options="d as d.TenDVText for d in listDonVi" tabindex="1+"
                            enter></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('report')">
                        <em class="fa fa-bar-chart-o"></em>&nbsp; Báo cáo</button>
                    <button type="submit" ng-disabled="loading"
                    class="btn btn-default" ng-click="setButton('excel')">
                        <em class="fa fa-file-excel-o"></em>&nbsp; Xuất Excel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="well well-lg report mb0">
    <div ng-show="loading" class="loading-spinner hidden-print" text="{{button=='excel'?'Đang xuất excel...':'Đang xuất báo cáo...'}}"></div>
    <div class="text-info hidden-print" ng-show="!submited">
        <div>
            <span class="fa fa-info-circle">&nbsp;</span>Chú ý!</div>
        <div>- Nhập các thông tin cần thiết sau đó bấm [Báo cáo] để xuất báo cáo, bấm
            [Xuất Excel] để tải về Excel.</div>
        <div>- Các thông tin có dấu
            <strong class="text-danger">(*)</strong>&nbsp; là bắt buộc phải nhập/chọn.</div>
    </div>
    <div ng-show="submited">
        <div ng-show="report.Data.length==0" class="alert alert-success mb0">Không có dữ liệu.</div>
        <div ng-show="report.Data.length>0" class="container-fluid">
            <table class="table report-head">
                <tr>
                    <td class="report-head-org hidden-xs">
                        <!-- <div ng-include="'app/views/partials/report-head-cong-ty.html'"></div>-->
                    </td>
                    <td class="report-head-title">
                        <h4>BẢNG KÊ KẾ HOẠCH XẾP DỠ THEO NGÀY</h4>
                        <div>Ngày từ {{report.Input.Ngay_BatDau|date:'dd/MM/yyyy'}} đến {{report.Input.Ngay_KetThuc|date:'dd/MM/yyyy'}}</div>
                        <div>Đơn vị: {{report.Input.TenDV}}</div>
                    </td>
                    <td class="report-head-info hidden-xs">
                        <div>Mẫu: BKTram01</div>
                    </td>
                </tr>
            </table>
            <div class="panel panel-primary report-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover report-table freeheadertable">
                        <thead>
                            <tr>
                                <th class="text-center w3" style="font-size:9pt">STT</th>
                                <th class="text-center w15" style="font-size:9pt">Khách hàng</th>
                                <th class="text-center w10" style="font-size:9pt">Tên hàng</th>
                                <th class="text-center w10" style="font-size:9pt">Nơi đi</th>
                                <th class="text-center w10" style="font-size:9pt">Nơi đến</th>
                                <th class="text-center w7" style="font-size:9pt">Ghi chú</th>
                                <th class="text-center w10" style="font-size:9pt">Thời gian</th>
                                <th class="text-center w10" style="font-size:9pt">Số container</th>
                                <th class="text-center w15" style="font-size:9pt">NCC</th>
                                <th class="text-center w5" style="font-size:9pt">Số xe VC</th>
                                <th class="text-center w5" style="font-size:9pt">Loại cont</th>
                            </tr>
                            <tr>
                                <th class="text-center w3" style="font-size:9pt">(1)</th>
                                <th class="text-center w15" style="font-size:9pt">(2)</th>
                                <th class="text-center w10" style="font-size:9pt">(3)</th>
                                <th class="text-center w10" style="font-size:9pt">(4)</th>
                                <th class="text-center w10" style="font-size:9pt">(5)</th>
                                <th class="text-center w7" style="font-size:9pt">(6)</th>
                                <th class="text-center w10" style="font-size:9pt">(7)</th>
                                <th class="text-center w10" style="font-size:9pt">(8)</th>
                                <th class="text-center w15" style="font-size:9pt">(9)</th>
                                <th class="text-center w5" style="font-size:9pt">(10)</th>
                                <th class="text-center w5" style="font-size:9pt">(11)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in report.Data">
                                <td class="text-center w3" style="font-weight:normal;font-size:9pt">{{$index + 1}}</td>
                                <td class="text-left w15" style="font-size:9pt">{{item.KhachHang_Ten}}({{item.KhachHang_MaKH}})</td>
                                <td class="text-left w10"
                                style="font-size:9pt">{{item.TenHang}}</td>
                                <td class="text-left w10" style="font-size:9pt">{{item.TenZoneDong}}</td>
                                <td class="text-left w10" style="font-size:9pt">{{item.TenZoneTra}}</td>
                                <td class="text-left w7" style="font-size:9pt">{{item.TenLoaiKH}}</td>
                                <td class="text-left w10" style="font-size:9pt">{{item.ThoiGianKH|date:'dd/MM/yyyy HH:mm'}}</td>
                                <td class="text-left w10"
                                style="font-size:9pt">{{item.SoCONT}}</td>
                                <td class="text-left w15" style="font-size:9pt">{{item.TenNhaCC}}
                                    <td class="text-left w5" style="font-size:9pt">{{item.SoXeDK}}</td>
                                    <td class="text-left w5" style="font-size:9pt">{{item.LoaiCONT}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-info">
                <div>
                    <span class="fa fa-info-circle">&nbsp;</span>Ghi chú</div>
                <div>- Báo cáo được lấy số liệu vào lúc {{report.ReportTime|date:'dd/MM/yyyy
                    HH:mm'}}</div>
            </div>
        </div>
    </div>
</div>