<div class="panel panel-primary hidden-print">
    <div class="panel-heading">
        <h3 class="panel-title">DT01-B: BÁO CÁO TIỀN THU BÁN HÀNG</h3>
    </div>
    <div class="panel-body">
        <form name="reportForm" ng-submit="renderReport()" novalidate="" class="form-validate">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày bán từ
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="NgayBan_BatDau" ng-model="input.NgayBan_BatDau" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgayBan_BatDau" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control"
                            required="" />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgayBan_BatDau=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="NgayBan_BatDau">Ngày bán từ không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày bán đến
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="NgayBan_KetThuc" ng-model="input.NgayBan_KetThuc" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgayBan_KetThuc" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false"
                            class="form-control" required="" />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgayBan_KetThuc=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="NgayBan_KetThuc">Ngày bán đến không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 112px;" class="input-group-addon">Cấp hiển thị</span>
                            <select name="CapQL" ng-model="input.CapQL" ng-options="i.Value as i.Text for i in listCapHienThi" class="form-control" required>
                                <option value="">-- Chọn --</option>
                            </select>
                        </div>
                        <error-show type="required" name="CapQL">Vui lòng chọn cấp hiển thị</error-show>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày XP từ</span>
                            <input type="text" name="NgayXP_BatDau" ng-model="input.NgayXP_BatDau" placeholder="Tất cả" is-open="openedNgayXP_BatDau" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control"
                            />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgayXP_BatDau=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày XP đến</span>
                            <input type="text" name="NgayXP_KetThuc" ng-model="input.NgayXP_KetThuc" placeholder="Tất cả" is-open="openedNgayXP_KetThuc" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control"
                            />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgayXP_KetThuc=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 112px;" class="input-group-addon">Đơn vị bán vé</span>
                            <select name="MaDV" ng-model="input.MaDV" ng-options="i.Value as i.Text for i in listCongTy" class="form-control">
                                <option value="">-- Tất cả --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Hình thức bán vé</span>
                            <select name="LoaiBan" ng-model="input.LoaiBan" ng-options="i.Value as i.Text for i in listLoaiBan" as-number class="form-control">
                                <option value="">-- Tất cả --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Phương thức thu</span>
                            <select name="LoaiThanhToan" ng-model="input.LoaiThanhToan" ng-options="i.Value as i.Text for i in listLoaiThanhToan" as-number class="form-control">
                                <option value="">-- Tất cả --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 112px;" class="input-group-addon">Mác tàu</span>
                            <div isteven-multi-select translation="localLang" input-model="inputMacTaus" output-model="input.outputMacTaus" button-label="name" item-label="name" tick-property="ticked" max-labels="3" search-property="name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('report')">
                        <em class="fa fa-play-circle"></em>&nbsp; Báo cáo
                    </button>
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('excel')">
                        <em class="fa fa-file-excel-o"></em>&nbsp; Xuất Excel
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="well well-lg report mb0">
    <div ng-show="loading" class="loading-spinner hidden-print" text="{{button=='excel'?'Đang xuất excel...':'Đang xuất báo cáo...'}}"></div>
    <div class="text-info hidden-print" ng-show="!submited">
        <div>
            <span class="fa fa-info-circle">&nbsp;</span>Chú ý!</div>
        <div>- Nhập các thông tin cần thiết sau đó bấm [Báo cáo] để xuất báo cáo, bấm [Xuất Excel] để tải về Excel.</div>
        <div>- Các thông tin có dấu
            <strong class="text-danger">(*)</strong>&nbsp; là bắt buộc phải nhập/chọn.</div>
    </div>
    <div ng-show="submited">
        <div ng-show="report.Data.length==0" class="alert alert-success mb0">Không có dữ liệu.</div>
        <div ng-show="report.Data.length>0" class="container-fluid">
            <table class="table report-head">
                <tr>
                    <td class="report-head-org hidden-xs">
                        <div ng-include="'app/views/partials/report-head-cong-ty.html'"></div>
                    </td>
                    <td class="report-head-title">
                        <h4>BÁO CÁO TIỀN THU BÁN HÀNG</h4>
                        <div>Ngày bán từ {{report.Input.NgayBan_BatDau|date:'dd/MM/yyyy'}} đến {{report.Input.NgayBan_KetThuc|date:'dd/MM/yyyy'}}</div>
                        <div>{{[report.Input.NgayXP_BatDau,report.Input.NgayXP_KetThuc]|joinDate:'Ngày XP từ ngày':'Ngày XP trước ngày'}}</div>
                        <div>
                            <span>Đơn vị bán vé: {{report.Input.TenDV|empty:'Tất cả'}},</span>
                            <span>Hình thức bán vé: {{(listLoaiBan|filter:{Value:report.Input.LoaiBan})[0].Text|empty:'Tất cả'}},</span>
                            <span>Phương thức thu: {{(listLoaiThanhToan|filter:{Value:report.Input.LoaiThanhToan})[0].Text|empty:'Tất cả'}}</span>
                        </div>
                        <div>Mác tàu: {{report.Input.MT|max:20:'...và {0} mác tàu khác'|join:', '|empty:'Tất cả'}}</div>
                    </td>
                    <td class="report-head-info hidden-xs">
                        <div>Mẫu: DT01-B</div>
                        <div>Đơn vị tính: x1.000 đồng</div>
                    </td>
                </tr>
            </table>
            <div class="panel panel-primary report-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover report-table">
                        <thead>
                            <tr>
                                <th class="text-center" rowspan="4" style="vertical-align: middle;">{{(listCapHienThi|filter:{Value:report.Input.CapQL})[0].Text}}</th>
                                <th class="text-center" rowspan="4" style="vertical-align: middle;">HK-KM</th>
                                <th class="text-center" colspan="6" style="vertical-align: middle;">Bán vé</th>
                                <th class="text-center" colspan="12" style="vertical-align: middle;">Trả vé</th>
                                <th class="text-center" rowspan="4" style="vertical-align: middle;">Tổng thu khác</th>
                                <th class="text-center" rowspan="4" style="vertical-align: middle;">BH thu khác</th>
                                <th class="text-center" rowspan="4" style="vertical-align: middle;">Đ/C giảm thu</th>
                                <th class="text-center" rowspan="4" style="vertical-align: middle;">Thực thu</th>
                                <th class="text-center" rowspan="4" style="vertical-align: middle;">Ga nộp tiền mặt</th>
                            </tr>
                            <tr>
                                <th class="text-center" colspan="2" style="vertical-align: middle;">Bán trực tiếp</th>
                                <th class="text-center" colspan="2" style="vertical-align: middle;">Đặt qua WEB</th>
                                <th class="text-center" rowspan="3" style="vertical-align: middle;">Cộng SL</th>
                                <th class="text-center" rowspan="3" style="vertical-align: middle;">Cộng Tiền</th>
                                <th class="text-center" colspan="2" style="vertical-align: middle;">SL</th>
                                <th class="text-center" colspan="5" style="vertical-align: middle;">Phí trả</th>
                                <th class="text-center" colspan="5" style="vertical-align: middle;">Tiền vé trả lại</th>
                            </tr>
                            <tr>
                                <th class="text-center" rowspan="2" style="vertical-align: middle;">SL</th>
                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Tiền</th>
                                <th class="text-center" rowspan="2" style="vertical-align: middle;">SL</th>
                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Tiền</th>
                                <th class="text-center" rowspan="2" style="vertical-align: middle;">TM</th>
                                <th class="text-center" rowspan="2" style="vertical-align: middle;">CK</th>
                                <th class="text-center" colspan="2" style="vertical-align: middle;">Đổi</th>
                                <th class="text-center" colspan="2" style="vertical-align: middle;">Khác</th>
                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Tổng</th>
                                <th class="text-center" colspan="2" style="vertical-align: middle;white-space: nowrap;">Nguyên chặng</th>
                                <th class="text-center" colspan="2" style="vertical-align: middle;white-space: nowrap;">Dọc đường</th>
                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Tổng</th>
                            </tr>
                            <tr>
                                <th class="text-center" style="vertical-align: middle;">TM</th>
                                <th class="text-center" style="vertical-align: middle;">CK</th>
                                <th class="text-center" style="vertical-align: middle;">TM</th>
                                <th class="text-center" style="vertical-align: middle;">CK</th>
                                <th class="text-center" style="vertical-align: middle;">TM</th>
                                <th class="text-center" style="vertical-align: middle;">CK</th>
                                <th class="text-center" style="vertical-align: middle;">TM</th>
                                <th class="text-center" style="vertical-align: middle;">CK</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center" style="vertical-align: middle;">1</td>
                                <td class="text-center" style="vertical-align: middle;">2</td>
                                <td class="text-center" style="vertical-align: middle;">3</td>
                                <td class="text-center" style="vertical-align: middle;">4</td>
                                <td class="text-center" style="vertical-align: middle;">5</td>
                                <td class="text-center" style="vertical-align: middle;">6</td>
                                <td class="text-center" style="vertical-align: middle;white-space: nowrap;">7=3+5</td>
                                <td class="text-center" style="vertical-align: middle;white-space: nowrap;">8=4+6</td>
                                <td class="text-center" style="vertical-align: middle;">9</td>
                                <td class="text-center" style="vertical-align: middle;">10</td>
                                <td class="text-center" style="vertical-align: middle;">11</td>
                                <td class="text-center" style="vertical-align: middle;">12</td>
                                <td class="text-center" style="vertical-align: middle;">13</td>
                                <td class="text-center" style="vertical-align: middle;">14</td>
                                <td class="text-center" style="vertical-align: middle;">15=11+12
                                    <br />+13+14</td>
                                <td class="text-center" style="vertical-align: middle;">16</td>
                                <td class="text-center" style="vertical-align: middle;">17</td>
                                <td class="text-center" style="vertical-align: middle;">18</td>
                                <td class="text-center" style="vertical-align: middle;">19</td>
                                <td class="text-center" style="vertical-align: middle;">20=16+17
                                    <br />+18+19</td>
                                <td class="text-center" style="vertical-align: middle;">21</td>
                                <td class="text-center" style="vertical-align: middle;">22</td>
                                <td class="text-center" style="vertical-align: middle;">23</td>
                                <td class="text-center" style="vertical-align: middle;white-space: nowrap;">24=8+15
                                    <br />-20+21-23</td>
                                <td class="text-center" style="vertical-align: middle;white-space: nowrap;">25=8+11
                                    <br />+13-16-18
                                    <br />+21-23</td>
                            </tr>
                            <tr ng-repeat="item in report.Data">
                                <td style="vertical-align: middle;">{{item.TenDV}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.HKKM|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.TongVe_TrucTiep|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.TongTien_TrucTiep|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.SoVe_Web|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.SoTien_Web|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.Cong_SL|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.Cong|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.SoVe_TraTM|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.SoVe_TraThe|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.LePhi_TraDoiTM|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.LePhi_TraDoiCK|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.LePhi_TraThuongTM|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.LePhi_TraThuongCK|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.LePhi_Tong|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.Tra_TM|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.Tra_The|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.TraDD_TM|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.TraDD_The|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.Tra_Tong|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.ThuKhac|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.BHKhac|number}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.ChiKhac|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.TongTien|number:0}}</td>
                                <td class="text-right" style="vertical-align: middle;">{{item.GaNop|number:0}}</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">
                                    <strong>CỘNG</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.HKKM|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.TongVe_TrucTiep|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.TongTien_TrucTiep|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.SoVe_Web|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.SoTien_Web|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.Cong_SL|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.Cong|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.SoVe_TraTM|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.SoVe_TraThe|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.LePhi_TraDoiTM|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.LePhi_TraDoiCK|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.LePhi_TraThuongTM|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.LePhi_TraThuongCK|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.LePhi_Tong|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.Tra_TM|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.Tra_The|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.TraDD_TM|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.TraDD_The|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.Tra_Tong|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.ThuKhac|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.BHKhac|number}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.ChiKhac|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.TongTien|number:0}}</strong>
                                </td>
                                <td class="text-right" style="vertical-align: middle;">
                                    <strong>{{report.Tong.GaNop|number:0}}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-info">
                <div>
                    <span class="fa fa-info-circle">&nbsp;</span>Ghi chú</div>
                <div>- Số liệu báo cáo đã bao gồm 1.000 đồng bảo hiểm và tiền thuế giá trị gia tăng</div>
                <div>- Báo cáo được lấy số liệu vào lúc {{report.ReportTime|date:'dd/MM/yyyy HH:mm'}}</div>
            </div>
        </div>
    </div>
</div>