<div class="modal-header">
    <h3 class="modal-title text-danger">Thông báo</h3>
</div>
<div class="modal-body">
    <p>
        Hệ thống bán vé tàu điện từ vừa cập nhật version mới, vui lòng tải lại trang để cập nhât phiên bản mới nhất
        (ấn tổ hợp phím Ctrl + F5 trên Window hoặc ⌘ + F5 trên Mac OS)
    </p>
    <p>- Nếu sau khi tải lại trang quý khách vẫn nhận được thông báo này, vui lòng xóa dữ liệu bộ đệm của trình duyệt Web sau đó tải lại trang.</p>
    <p>- Mọi thắc mắc quý khách có thể liên hệ với trung tâm hỗ trợ khách hàng để được trợ giúp.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="close()">Close</button>
    <button class="btn btn-primary" ng-click="reload()">Tải lại trang</button>
</div>