<div class="panel panel-primary hidden-print">
    <div class="panel-heading">
        <h3 class="panel-title">DT02-A: BÁO CÁO TỔNG HỢP NHANH DOANH THU</h3>
    </div>
    <div class="panel-body">
        <form name="reportForm" ng-submit="renderReport()" novalidate="" class="form-validate">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 110px;" class="input-group-addon">Chi nhánh
                                <span class="text-danger">(*)</span>
                            </span>
                            <select name="MaDV" ng-model="input.MaDV" ng-options="i.Value as i.Text group by i.Group for i in listChiNhanh" required class="form-control">
                                <option value="">-- Tất cả --</option>
                            </select>
                        </div>
                        <error-show type="required" name="MaDV">Vui lòng chọn đơn vị bán vé</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 110px;" class="input-group-addon">Ngày bán từ</span>
                            <input type="text" name="NgayBD" ng-model="input.NgayBD" placeholder="Từ đầu năm" is-open="openedNgayBD" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control" />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgayBD=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="NgayBD">Ngày bán từ không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 110px;" class="input-group-addon">Ngày bán đến</span>
                            <input type="text" name="NgayKT" ng-model="input.NgayKT" placeholder="Thời điểm hiện tại" is-open="openedNgayKT" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control" />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgayKT=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="NgayKT">Ngày bán đến không được trống</error-show>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('report')">
                        <em class="fa fa-play-circle"></em>&nbsp; Báo cáo
                    </button>
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('excel')">
                        <em class="fa fa-file-excel-o"></em>&nbsp; Xuất Excel
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="well well-lg report mb0">
    <div ng-show="loading" class="loading-spinner hidden-print" text="{{button=='excel'?'Đang xuất excel...':'Đang xuất báo cáo...'}}"></div>
    <div class="text-info hidden-print" ng-show="!submited">
        <div>
            <span class="fa fa-info-circle">&nbsp;</span>Chú ý!</div>
        <div>- Nhập các thông tin cần thiết sau đó bấm [Báo cáo] để xuất báo cáo, bấm [Xuất Excel] để tải về Excel.</div>
        <div>- Các thông tin có dấu
            <strong class="text-danger">(*)</strong>&nbsp; là bắt buộc phải nhập/chọn.</div>
    </div>
    <div ng-show="submited">
        <div ng-show="report.Data.length==0" class="alert alert-success mb0">Không có dữ liệu.</div>
        <div ng-show="report.Data.length>0" class="container-fluid">
            <table class="table report-head">
                <tr>
                    <td class="report-head-org hidden-xs">
                        <div ng-include="'app/views/partials/report-head-cong-ty.html'"></div>
                    </td>
                    <td class="report-head-title">
                        <h4>BÁO CÁO TỔNG HỢP NHANH DOANH THU</h4>
                        <div>Chi nhánh: {{report.Input.TenDV|empty:'Tất cả'}}</div>
                        <div>Ngày bán từ {{report.Input.NgayBD|date:'dd/MM/yyyy'}} đến {{report.Input.NgayKT|date:'dd/MM/yyyy'}}</div>
                    </td>
                    <td class="report-head-info hidden-xs">
                        <div>Mẫu: DT02-A</div>
                        <div>Đơn vị tính: x1.000 đồng</div>
                    </td>
                </tr>
            </table>
            <div class="panel panel-primary report-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover report-table-lg">
                        <thead>
                            <tr>
                                <th colspan="2" rowspan="2" class="text-left">Các chỉ số báo cáo</th>
                                <th colspan="3" class="text-center">Trong ngày</th>
                                <th colspan="3" class="text-center">Lũy kế tháng</th>
                                <th colspan="3" class="text-center">Lũy kế năm</th>
                            </tr>
                            <tr>
                                <th class="text-center">SLHK</th>
                                <th class="text-center">Tiền thu</th>
                                <th class="text-center">HKKM</th>
                                <th class="text-center">SLHK</th>
                                <th class="text-center">Tiền thu</th>
                                <th class="text-center">HKKM</th>
                                <th class="text-center">SLHK</th>
                                <th class="text-center">Tiền thu</th>
                                <th class="text-center">HKKM</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in report.Data">
                                <td>{{item.Ten}}</td>
                                <td>&nbsp; {{item.MoTa}}</td>
                                <td class="text-right">{{item.SL_Ngay|number:0}}</td>
                                <td class="text-right">{{item.Tien_Ngay|number:0}}</td>
                                <td class="text-right">{{item.HKKM_Ngay|number:0}}</td>
                                <td class="text-right">{{item.SL_Thang|number:0}}</td>
                                <td class="text-right">{{item.Tien_Thang|number:0}}</td>
                                <td class="text-right">{{item.HKKM_Thang|number:0}}</td>
                                <td class="text-right">{{item.SL_Nam|number:0}}</td>
                                <td class="text-right">{{item.Tien_Nam|number:0}}</td>
                                <td class="text-right">{{item.HKKM_Nam|number:0}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <strong>CỘNG</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.SL_Ngay|number:0}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.Tien_Ngay|number:0}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.HKKM_Ngay|number:0}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.SL_Thang|number:0}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.Tien_Thang|number:0}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.HKKM_Thang|number:0}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.SL_Nam|number:0}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.Tien_Nam|number:0}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.HKKM_Nam|number:0}}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-info">
                <div>
                    <span class="fa fa-info-circle">&nbsp;</span>Ghi chú</div>
                <div>- Số liệu báo cáo đã bao gồm 1.000 đồng bảo hiểm và tiền thuế giá trị gia tăng</div>
                <div>- Báo cáo được lấy số liệu vào lúc {{report.ReportTime|date:'dd/MM/yyyy HH:mm'}}</div>
            </div>
        </div>
    </div>
</div>