<div class="panel panel-primary hidden-print">
  <div class="panel-heading">
    <h3 class="panel-title">BCQT04: BÁO CÁO CHI TIẾT DỊCH VỤ NGOÀI VẬN TẢI</h3>
  </div>
  <div class="panel-body">
    <form name="reportForm" ng-submit="renderReport()" novalidate="" class="form-validate">      
      <div class="row">
        <div class="col-md-4">
          <div class="form-group" show-errors>
            <div class="input-group">
              <span style="width: 130px;" class="input-group-addon">Ngày bắt đầu <span class="text-danger">(*)</span></span>
              <input type="text" name="Ngay_BatDau" ng-model="input.Ngay_BatDau" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgay_BatDau" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control" required="" />
              <div class="input-group-btn">
                <button type="button" ng-click="openedNgay_BatDau=true" class="btn btn-default">
                  <em class="fa fa-calendar"></em>
                </button>
              </div>
            </div>
            <error-show type="required" name="Ngay_BatDau">Ngày bắt đầu không được trống</error-show>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" show-errors>
            <div class="input-group">
              <span style="width: 130px;" class="input-group-addon">Ngày kết thúc <span class="text-danger">(*)</span></span>
              <input type="text" name="Ngay_KetThuc" ng-model="input.Ngay_KetThuc" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgay_KetThuc" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control" required="" />
              <div class="input-group-btn">
                <button type="button" ng-click="openedNgay_KetThuc=true" class="btn btn-default">
                  <em class="fa fa-calendar"></em>
                </button>
              </div>
            </div>
            <error-show type="required" name="Ngay_KetThuc">Ngày kết thúc không được trống</error-show>
          </div>
        </div>
       
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('report')">
            <em class="fa fa-play-circle"></em>&nbsp; Báo cáo
          </button>
          <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('excel')">
            <em class="fa fa-file-excel-o"></em>&nbsp; Xuất Excel
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
<div class="well well-lg report mb0">
  <div ng-show="loading" class="loading-spinner hidden-print" text="{{button=='excel'?'Đang xuất excel...':'Đang xuất báo cáo...'}}"></div>
  <div class="text-info hidden-print" ng-show="!submited">
    <div><span class="fa fa-info-circle">&nbsp;</span> Chú ý!</div>
    <div>- Nhập các thông tin cần thiết sau đó bấm [Báo cáo] để xuất báo cáo, bấm [Xuất Excel] để tải về Excel.</div>
    <div>- Các thông tin có dấu <strong class="text-danger">(*)</strong> &nbsp; là bắt buộc phải nhập/chọn.</div>
  </div>
  <div ng-show="submited">
    <div ng-show="report.Data.length==0" class="alert alert-success mb0">Không có dữ liệu.</div>
    <div ng-show="report.Data.length>0" class="container-fluid">
      <table class="table report-head">
        <tr>
          <td class="report-head-org hidden-xs">
            <!--  <div ng-include="'app/views/partials/report-head-cong-ty.html'"></div>-->
          </td>
          <td class="report-head-title">
            <h4>BÁO CÁO CHI TIẾT DỊCH VỤ NGOÀI VẬN TẢI</h4>
            <div>Ngày từ {{report.Input.Ngay_BatDau|date:'dd/MM/yyyy'}} đến {{report.Input.Ngay_KetThuc|date:'dd/MM/yyyy'}}</div>          
          </td>
          <td class="report-head-info hidden-xs">
            <div>Mẫu: BCQT04</div>
          </td>
        </tr>
      </table>
      <div class="row">
        <div class="col-md-12" style="overflow:auto">         
            <table class="table table-bordered table-hover report-table" style="margin-bottom:0px;padding-bottom:0px;">
                <thead>
                  <tr>
                    <th class="text-center " style="font-size:9pt" rowspan="3">STT</th>
                    <th class="text-center " style="font-size:9pt" colspan="15"></th>
                    <th class="text-center " style="font-size:9pt"></th>
                    <th class="text-center " style="font-size:9pt" colspan="6">Chi phí</th>
                    <th class="text-center " style="font-size:9pt"></th>
                  </tr>
                  <tr>
                   
                    <th class="text-center " style="font-size:9pt" rowspan="2">Tên Dịch vụ ngoài vận tải</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Khách hàng</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Loại TX</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">SH TX</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Loại cont</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">SH cont</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Tên hàng</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Kho nhận</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Ga xếp</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Ga dỡ</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Kho trả</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Ngày nhận</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Ngày xếp</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Ngày dỡ</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Ngày giao</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Đơn vị tính</th>
                    <th class="text-center " style="font-size:9pt" colspan="3">Đầu xếp</th>
                    <th class="text-center " style="font-size:9pt" colspan="3">Đầu dỡ</th>
                    <th class="text-center " style="font-size:9pt" rowspan="2">Tổng chi phí ngoài</th>
                  </tr>      
                  <tr>
                    <td class="text-center " style="font-size:9pt">Số lượng </td>
                    <td class="text-center " style="font-size:9pt">Đơn giá </td>
                    <td class="text-center " style="font-size:9pt">Tổng cộng</td>
                    <td class="text-center " style="font-size:9pt">Số lượng </td>
                    <td class="text-center " style="font-size:9pt">Đơn giá</td>
                    <td class="text-center " style="font-size:9pt">Tổng cộng</td>
                  </tr>        
                  <tr>
                    <th class="text-center " style="font-size:9pt">(1)</th>
                    <th class="text-center " style="font-size:9pt">(2)</th>
                    <th class="text-center " style="font-size:9pt">(3)</th>
                    <th class="text-center " style="font-size:9pt">(4)</th>
                    <th class="text-center " style="font-size:9pt">(5)</th>
                    <th class="text-center " style="font-size:9pt">(6)</th>
                    <th class="text-center " style="font-size:9pt">(7)</th>
                    <th class="text-center " style="font-size:9pt">(8)</th>
                    <th class="text-center " style="font-size:9pt">(9)</th>
                    <th class="text-center " style="font-size:9pt">(10)</th>
                    <th class="text-center " style="font-size:9pt">(11)</th>
                    <th class="text-center " style="font-size:9pt">(12)</th>
                    <th class="text-center " style="font-size:9pt">(13)</th>
                    <th class="text-center " style="font-size:9pt">(14)</th>
                    <th class="text-center " style="font-size:9pt">(15)</th>
                    <th class="text-center " style="font-size:9pt">(16)</th>
                    <th class="text-center " style="font-size:9pt">(17)</th>
                    <th class="text-center " style="font-size:9pt">(18)</th>
                    <th class="text-center " style="font-size:9pt">(19)</th>
                    <th class="text-center " style="font-size:9pt">(20)</th>
                    <th class="text-center " style="font-size:9pt">(21)</th>
                    <th class="text-center " style="font-size:9pt">(22)</th>
                    <th class="text-center " style="font-size:9pt">(23)</th>
                    <th class="text-center " style="font-size:9pt">(24)</th>
                  </tr>
                </thead>
            
                  <tbody>
                    <tr ng-repeat ="item in report.Data">
                      <td class="text-center" style="font-size:9pt">{{$index+1}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.TenDichVu}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.KhachHang_Ten}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.PhanLoaiXe}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.SoHieuXe}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.LoaiCont}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.SoHieuCont}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.TenHang}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.TenZoneDong}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.TenGaXep}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.TenGaDo}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.TenZoneTra}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.NgayNhan|date:'dd/MM/yyyy HH:mm'}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.NgayXep|date:'dd/MM/yyyy HH:mm'}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.NgayDo|date:'dd/MM/yyyy HH:mm'}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.NgayGiao|date:'dd/MM/yyyy HH:mm'}}</td>
                      <td class="text-center" style="font-size:9pt">{{item.DonViTinh}}</td>
                      <td class="text-center" style="font-size:9pt"><span>{{item.DauXep_SoLuong|number}}</span></td>
                      <td class="text-center" style="font-size:9pt"><span>{{item.DauXep_DonGia|number}}</span></td>
                      <td class="text-center" style="font-size:9pt"><span>{{item.DauXep_ThanhTien|number}}</span></td>
                      <td class="text-center" style="font-size:9pt"><span>{{item.DauDo_SoLuong|number}}</span></td>
                      <td class="text-center" style="font-size:9pt"><span>{{item.DauDo_DonGia|number}}</span></td>
                      <td class="text-center" style="font-size:9pt"><span>{{item.DauDo_ThanhTien|number}}</span></td>
                      <td class="text-center" style="font-size:9pt"><span>{{(item.DauXep_ThanhTien+item.DauDo_ThanhTien)|number}}</span></td>
                    </tr>          
                  </tbody>
                  <tfoot>
                    <tr style="font-weight:bold">
                      <td class="text-center" style="font-size:9pt" colspan="17">TỔNG CỘNG</td>
                      
                      <td class="text-center" style="font-size:9pt">{{report.Tong.DauXep_SoLuong|number}}</td>
                      <td class="text-center" style="font-size:9pt"></td>
                      <td class="text-center" style="font-size:9pt">{{report.Tong.DauXep_ThanhTien|number}}</td>
                      <td class="text-center" style="font-size:9pt">{{report.Tong.DauDo_SoLuong|number}}</td>
                      <td class="text-center" style="font-size:9pt"></td>
                      <td class="text-center" style="font-size:9pt">{{report.Tong.DauDo_ThanhTien|number}}</td>
                      <td class="text-center" style="font-size:9pt">{{(report.Tong.DauXep_ThanhTien+report.Tong.DauDo_ThanhTien)|number}}</td>
                    </tr>
                  </tfoot>
                </table>          
        </div>
      </div>
      <div class="text-info">
        <div><span class="fa fa-info-circle">&nbsp;</span> Ghi chú</div>
        <div>- Báo cáo được lấy số liệu vào lúc {{report.ReportTime|date:'dd/MM/yyyy HH:mm'}}</div>
      </div>
    </div>
  </div>
</div>