<?xml version="1.0"?>
<connectionStrings>  
  <add name="SqlExceptional" connectionString="data source=192.168.222.15\sql2014;initial catalog=FPTTicketException;persist security info=True;user id=fptapp;password=dsvn@123456;multipleactiveresultsets=True;Max Pool Size=1000;Connect Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="SqlRatraco" connectionString="data source=192.168.222.184\sql2014;initial catalog=RATTMS;persist security info=True;user id=sa;password=dsvn@123456;multipleactiveresultsets=True;Max Pool Size=1000;Connect Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="SqlRatracoReport" connectionString="data source=localhost;initial catalog=RATTMSBaoCao;persist security info=True;user id=sa;password=123456;multipleactiveresultsets=True;Max Pool Size=1000;Connect Timeout=30;" providerName="System.Data.SqlClient" />

  <add name="RedisAuth" connectionString="192.168.222.110:6382,192.168.222.111:6382,allowAdmin=true,abortConnect=false,connectTimeout=5000,syncTimeout=5000" />
  <add name="RedisRatraco" connectionString="192.168.222.110:6382,192.168.222.111:6382,allowAdmin=true,abortConnect=false,connectTimeout=5000,syncTimeout=5000" />
</connectionStrings>
