<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="Exceptional" type="StackExchange.Exceptional.Settings, StackExchange.Exceptional" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings configSource="Connections.config" />
  <Exceptional applicationName="ETicket-Report">
    <IgnoreErrors>
      <!-- Error messages to ignore (optional) -->
      <Regexes>
        <!--<add name="connection suuuuuuuucks" pattern="Request timed out\.$" />-->
      </Regexes>
      <!-- Error types to ignore, e.g. <add type="System.Exception" /> or -->
      <Types>
        <!--<add type="MyNameSpace.MyException" />-->
      </Types>
    </IgnoreErrors>
    <ErrorStore type="SQL" connectionStringName="SqlExceptional" />
  </Exceptional>
  <log4net configSource="log4net.config" />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Authentication settings -->
    <add key="OAuth.TokenUrl" value="http://dev2.hhauth.vnticketonline.vn:10036/auth/token" />
    <add key="AppClientTokenCacheTimeInMinutes" value="30" />
    <add key="ApiSystemAccountKey" value="9c214fa660bb40169a5aebc0d347d0eb" />
    <add key="ApiSystemAccountSecret" value="vhIg4BOEdCiZcgiEt2yhKyc5RDmMFLXIMAyOMHdJ53Z9ZmXge95njl71Qa5za2Wrz9FFXM1BaQADz6BsI7zMfQ==" />
    <add key="IsSimpleAuthorized" value="0" />

    <!-- System setting -->
    <add key="SystemSettings:Version" value="1.0.0" />
    <add key="SystemSettings:DataVersion" value="1.0.0" />
    <add key="SystemSettings:BuildVersion" value="1.0.0.0" />
    <add key="SystemSettings:DeployVersion" value="1.0.0.0" />

    <!-- Send mail settings -->
    <add key="ApiHHAuthApiUrl" value="http://dev2.hhauth.vnticketonline.vn:9996/" />
    <add key="ApiSSOAuthKey" value="Ratraco" />
    <add key="ApiSSOAuthSecret" value="RATTMS$TLS!2023" />
    <add key="ApiHangHoaUrl" value="http://dev2.hanghoa.vnticketonline.vn:12001/service/" />
    <add key="ApiHangHoaKey" value="rat_1" />
    <add key="ApiHangHoaSecret" value="rat12#3@" />
    <add key="uploadHopDongFolder" value="\\192.168.222.185\Shared2\RAT\TMS\HopDong" />
    

    <!-- Send mail settings -->
    <add key="RatracoWebClient" value="http://dev.ratraco.tlsoft.com.vn" />
    <add key="IsSendEmailByApi" value="1" />
    <add key="QNotificationApiUrl" value="http://dev2.qnservice.vnticketonline.vn:7701/api" />
    <add key="QNotificationApiKey" value="C0B24783-7EEF-46FE-B1CC-AA71D0A95CF7" />
  
    <!-- File resource settings (Nextcloud) -->
    <add key="FileStorageHostServer" value="http://files.logis.vnticketonline.vn" />
    <add key="FileStorageRemotePath" value="/remote.php/webdav" />
    <add key="FileStorageUser" value="ratraco" />
    <add key="FileStoragePassword" value="Abc@123" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey decryption="AES" decryptionKey="C6C9F35DAAEC24FCE766DFF7E92CA15CEE5E72224E7A6841" validationKey="024B2947EB73B3B125C5AD99B164FB55CB1E0E57A91A51103ECF4352282AEE16D27D41DA253CFBDA05C75FD27EF03AB0110A5B449DB51CCD1E986F51ACA23FE9" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
