<div class="panel panel-primary hidden-print">
    <div class="panel-heading">
        <h3 class="panel-title">BCHH02: BÁO CÁO TỔNG HỢP SẢN XUẤT KINH DOANH CỦA TRUNG TÂM</h3>
    </div>
    <div class="panel-body">
        <form name="reportForm" ng-submit="renderReport()" novalidate="" class="form-validate">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày bắt đầu
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="Ngay_BatDau" ng-model="input.Ngay_BatDau" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgay_BatDau" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control"
                            required="" />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgay_BatDau=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="Ngay_BatDau">Ngày bắt đầu không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày kết thúc
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="Ngay_KetThuc" ng-model="input.Ngay_KetThuc" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgay_KetThuc" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control"
                            required="" />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgay_KetThuc=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="Ngay_KetThuc">Ngày kết thúc không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span class="input-group-addon">Đơn vị
                                <span class="text-danger">(*)</span>
                            </span>
                            <select class="form-control" ng-model="input.DonVi" style="margin:0px" name="DonVi" ng-options="d as d.TenDVText for d in listDonVi" tabindex="1+" enter required></select>
                        </div>
                        <error-show type="required" name="DonVi">Đơn vị không được trống</error-show>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('report')">
                        <em class="fa fa-play-circle"></em>&nbsp; Báo cáo
                    </button>
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('excel')">
                        <em class="fa fa-file-excel-o"></em>&nbsp; Xuất Excel
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="well well-lg report mb0">
    <div ng-show="loading" class="loading-spinner hidden-print" text="{{button=='excel'?'Đang xuất excel...':'Đang xuất báo cáo...'}}"></div>
    <div class="text-info hidden-print" ng-show="!submited">
        <div>
            <span class="fa fa-info-circle">&nbsp;</span>Chú ý!</div>
        <div>- Nhập các thông tin cần thiết sau đó bấm [Báo cáo] để xuất báo cáo, bấm [Xuất Excel] để tải về Excel.</div>
        <div>- Các thông tin có dấu
            <strong class="text-danger">(*)</strong>&nbsp; là bắt buộc phải nhập/chọn.</div>
    </div>
    <div ng-show="submited">
        <div ng-show="report.Data.length==0" class="alert alert-success mb0">Không có dữ liệu.</div>
        <div ng-show="report.Data.length>0" class="container-fluid">
            <table class="table report-head">
                <tr>
                    <td class="report-head-org hidden-xs">
                        <!--  <div ng-include="'app/views/partials/report-head-cong-ty.html'"></div>-->
                    </td>
                    <td class="report-head-title">
                        <h4>BÁO CÁO TỔNG HỢP SẢN XUẤT KINH DOANH CỦA TRUNG TÂM</h4>
                        <div>Ngày từ {{report.Input.Ngay_BatDau|date:'dd/MM/yyyy'}} đến {{report.Input.Ngay_KetThuc|date:'dd/MM/yyyy'}}</div>
                        <div>
                            Đơn vị:{{report.Input.TenDV}}
                        </div>
                    </td>
                    <td class="report-head-info hidden-xs">
                        <div>Mẫu: BCHH02</div>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <div style="width:99%;height:600px;overflow: hidden;">
                        <div style="width: 100%; overflow-y:scroll;overflow-x:hidden;">
                            <table class="table table-bordered table-hover report-table" style="table-layout:fixed;margin-bottom:0px;padding-bottom:0px">
                                <thead>
                                    <tr>
                                        <th class="text-center w3" style="font-size:9pt">STT</th>
                                        <th class="text-center w10" style="font-size:9pt">Tên ga</th>
                                        <th class="text-center w10" style="font-size:9pt">Các chỉ tiêu</th>
                                        <th class="text-center w10" style="font-size:9pt">Sản lượng xếp</th>
                                        <th class="text-center w10" style="font-size:9pt">Sản lượng dỡ</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center w3" style="font-size:9pt">(1)</th>
                                        <th class="text-center w10" style="font-size:9pt">(2)</th>
                                        <th class="text-center w10" style="font-size:9pt">(3)</th>
                                        <th class="text-center w10" style="font-size:9pt">(4)</th>
                                        <th class="text-center w10" style="font-size:9pt">(5)</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div style="width:100%;height:100%;overflow:hidden;">
                            <div style="height:90%; margin-top: -30px; overflow-y:scroll;overflow-x:hidden;">
                                <table class="table table-bordered  table-hover table-report" style="table-layout:fixed">
                                    <thead>
                                        <tr>
                                            <th class="text-center w3"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="item in report.Data">
                                            <td class="text-center" style="font-size:9pt" rowspan="{{item.Items.length+1}}">{{$index + 1}}</td>
                                            <td class="text-center" style="font-size:9pt" rowspan="{{item.Items.length+1}}">
                                                {{item.TenGa}}
                                            </td>

                                        </tr>
                                        <tr ng-repeat-end ng-repeat="d in item.Items">
                                            <td class="text-center" style="font-size:9pt">
                                                <span ng-show="d.PhanLoaiXe">Toa xe:{{d.PhanLoaiXe}}</span>
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                <span class="hovertext" ng-click="ShowDetail(d,1,d.SanLuongXep)">{{d.SanLuongXep|number}}</span>
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                <span class="hovertext" ng-click="ShowDetail(d,2,d.SanLuongDo)">{{d.SanLuongDo|number}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-info">
                <div>
                    <span class="fa fa-info-circle">&nbsp;</span>Ghi chú</div>
                <div>- Báo cáo được lấy số liệu vào lúc {{report.ReportTime|date:'dd/MM/yyyy HH:mm'}}</div>
            </div>
        </div>
    </div>
</div>