<div class="row">
    <div class="col-md-6">
        <h4 style="margin:5px">{{Title}}
            <!--small A showcase of different components inside tables-->
        </h4>
    </div>
</div>
<!-- START panel-->
<div class="panel panel-default" style="padding:5px">
    <div class="panel-body">
        <!-- START table-responsive-->
        <div class="table-responsive">
            <table id="tblBCHH02Detail" class="table table-bordered table-hover freeheadertable">
                <thead>
                    <tr>
                        <th class="text-center w5">STT</th>
                        <th class="text-center w10">Tên ga</th>
                        <th class="text-center w15">Phương tiện</th>
                        <th class="text-center w10">Ngày thực hiện</th>
                        <th class="text-center w15">Khách hàng/Hàng hóa</th>
                        <th class="text-center w10">Trọng lượng</th>
                        <th class="text-center w10">Tên đơn vị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in BCHH02Detail.DataDetail">
                        <td class="text-center w5">{{$index + 1}}</td>
                        <td class="text-left w10" style="font-size:9pt">{{item.TenGa}}</td>
                        <td class="text-center w15" style="font-size:9pt">
                            <div>{{item.SoBooking}}</div>
                            <div ng-show="item.SoHieuXe">{{item.SoHieuXe}}
                                <span ng-show="item.PhanLoaiXe">({{item.PhanLoaiXe}})</span>
                            </div>
                            <div ng-show="item.SoCONT">{{item.SoCONT}}
                                <span ng-show="item.LoaiCONT">({{item.LoaiCONT}})</span>
                            </div>
                        </td>
                        <td class="text-center w10" style="font-size:9pt">{{item.NgayPH|date:'dd/MM/yyyy HH:mm'}}</td>
                        <td class="text-center w15"
                        style="font-size:9pt">
                            <div style="border-bottom:ridge">{{item.KhachHang_Ten}}</div>
                            <div>{{item.TenHang}}</div>
                        </td>
                        <td class="text-center w10" style="font-size:9pt">{{item.TanTT|number}}</td>
                        <td class="text-center w10" style="font-size:9pt">{{item.TenDV}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END table-responsive-->
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" ng-click="Dong()" ng-enter="Dong()" tabindex="1+"
                enter>
                    <span class="fa fa-sign-out"></span>&nbsp;Đóng</button>
            </div>
        </div>
    </div>
</div>