<div class="panel panel-primary hidden-print">
    <div class="panel-heading">
        <h3 class="panel-title">BCQT01: BÁO CÁO KẾT QUẢ VẬN TẢI THEO TÀU</h3>
    </div>
    <div class="panel-body">
        <form name="reportForm" ng-submit="renderReport()" novalidate="" class="form-validate">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày bắt đầu
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="Ngay_BatDau" ng-model="input.Ngay_BatDau" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgay_BatDau" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control"
                            required="" />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgay_BatDau=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="Ngay_BatDau">Ngày bắt đầu không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày kết thúc
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="Ngay_KetThuc" ng-model="input.Ngay_KetThuc" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgay_KetThuc" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control"
                            required="" />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgay_KetThuc=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="Ngay_KetThuc">Ngày kết thúc không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Mác tàu</span>
                            <input type="text" class="form-control" ng-model="input.MacTau" id="MacTau" name="MacTau" enter tabindex="1+" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('report')">
                        <em class="fa fa-play-circle"></em>&nbsp; Báo cáo
                    </button>
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('excel')">
                        <em class="fa fa-file-excel-o"></em>&nbsp; Xuất Excel
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="well well-lg report mb0">
    <div ng-show="loading" class="loading-spinner hidden-print" text="{{button=='excel'?'Đang xuất excel...':'Đang xuất báo cáo...'}}"></div>
    <div class="text-info hidden-print" ng-show="!submited">
        <div>
            <span class="fa fa-info-circle">&nbsp;</span>Chú ý!</div>
        <div>- Nhập các thông tin cần thiết sau đó bấm [Báo cáo] để xuất báo cáo, bấm [Xuất Excel] để tải về Excel.</div>
        <div>- Các thông tin có dấu
            <strong class="text-danger">(*)</strong>&nbsp; là bắt buộc phải nhập/chọn.</div>
    </div>
    <div ng-show="submited">
        <div ng-show="report.Data.length==0" class="alert alert-success mb0">Không có dữ liệu.</div>
        <div ng-show="report.Data.length>0" class="container-fluid">
            <table class="table report-head">
                <tr>
                    <td class="report-head-org hidden-xs">
                        <!--  <div ng-include="'app/views/partials/report-head-cong-ty.html'"></div>-->
                    </td>
                    <td class="report-head-title">
                        <h4>BÁO CÁO KẾT QUẢ VẬN TẢI THEO TÀU</h4>
                        <div>Ngày từ {{report.Input.Ngay_BatDau|date:'dd/MM/yyyy'}} đến {{report.Input.Ngay_KetThuc|date:'dd/MM/yyyy'}}</div>
                    </td>
                    <td class="report-head-info hidden-xs">
                        <div>Mẫu: BCQT01</div>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <div style="width:99%;height:600px;overflow: hidden;">
                        <div style="width: 100%; overflow-y:scroll;overflow-x:hidden;">
                            <table class="table table-bordered table-hover report-table" style="table-layout:fixed;margin-bottom:0px;padding-bottom:0px">
                                <thead>
                                    <tr>
                                        <th class="text-center w3" style="font-size:9pt" rowspan="2">STT</th>
                                        <th class="text-center w10" style="font-size:9pt" rowspan="2">Mác tàu</th>
                                        <th class="text-center w10" style="font-size:9pt" rowspan="2">Ngày xuất phát</th>
                                        <th class="text-center w80" style="font-size:9pt" colspan="8">Sản lượng</th>
                                        <th class="text-center w20" style="font-size:9pt" colspan="2">Doanh thu</th>
                                        <th class="text-center w30" style="font-size:9pt" colspan="3">Chi phí</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center w10" style="font-size:9pt">Đoàn
                                            <br />tàu KM</th>
                                        <th class="text-center w10" style="font-size:9pt">SL
                                            <br />Toa Nặng</th>
                                        <th class="text-center w10" style="font-size:9pt">SL
                                            <br />Toa Rỗng</th>
                                        <th class="text-center w10" style="font-size:9pt">SL
                                            <br />Cont Nặng</th>
                                        <th class="text-center w10" style="font-size:9pt">SL
                                            <br />Cont Rỗng</th>
                                        <th class="text-center w10" style="font-size:9pt">Tấn TT</th>
                                        <th class="text-center w10" style="font-size:9pt">Tấn KMHH</th>
                                        <th class="text-center w10" style="font-size:9pt">Tấn KMTT</th>
                                        <th class="text-center w10" style="font-size:9pt">Doanh thu booking</th>
                                        <th class="text-center w10" style="font-size:9pt">Doanh thu (ga-ga)</th>
                                        <th class="text-center w10" style="font-size:9pt">Tiền đầu xếp</th>
                                        <th class="text-center w10" style="font-size:9pt">Tiền đầu dỡ</th>
                                        <th class="text-center w10" style="font-size:9pt">Tiền phát sinh</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center w3" style="font-size:9pt">(1)</th>
                                        <th class="text-center w10" style="font-size:9pt">(2)</th>
                                        <th class="text-center w10" style="font-size:9pt">(3)</th>
                                        <th class="text-center w10" style="font-size:9pt">(4)</th>
                                        <th class="text-center w10" style="font-size:9pt">(5)</th>
                                        <th class="text-center w10" style="font-size:9pt">(6)</th>
                                        <th class="text-center w10" style="font-size:9pt">(7)</th>
                                        <th class="text-center w10" style="font-size:9pt">(8)</th>
                                        <th class="text-center w10" style="font-size:9pt">(9)</th>
                                        <th class="text-center w10" style="font-size:9pt">(10)</th>
                                        <th class="text-center w10" style="font-size:9pt">(11)</th>
                                        <th class="text-center w10" style="font-size:9pt">(12)</th>
                                        <th class="text-center w10" style="font-size:9pt">(13)</th>
                                        <th class="text-center w10" style="font-size:9pt">(14)</th>
                                        <th class="text-center w10" style="font-size:9pt">(15)</th>
                                        <th class="text-center w10" style="font-size:9pt">(16)</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div style="width:100%;height:100%;overflow:hidden;">
                            <div style="height:90%; margin-top: -30px; overflow-y:scroll;overflow-x:hidden;">
                                <table class="table table-bordered  table-hover table-report" style="table-layout:fixed">
                                    <thead>
                                        <tr>
                                            <th class="text-center w3"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                            <th class="text-center w10"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in report.Data">
                                            <td class="text-center" style="font-size:9pt">{{$index + 1}}</td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.MacTau}}
                                                <span>({{item.MaCTSoHuuTau}})</span>
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.NgayXP|date:'dd/MM/yyyy'}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.DoanTauKM|number}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.SLToa_Nang|number}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.SLToa_Rong|number}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.SLCONT_Nang|number}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.SLCONT_Rong|number}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.TanTT|number:2}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.TanKMHH|number:2}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.TanKMTT|number:2}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.DoanhThuBooking|number}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.DoanhThuGaGa|number}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.TienDauXep|number}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.TienDauDo|number}}
                                            </td>
                                            <td class="text-center" style="font-size:9pt">
                                                {{item.TienPhatSinh|number}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-info">
                <div>
                    <span class="fa fa-info-circle">&nbsp;</span>Ghi chú</div>
                <div>- Báo cáo được lấy số liệu vào lúc {{report.ReportTime|date:'dd/MM/yyyy HH:mm'}}</div>
            </div>
        </div>
    </div>
</div>