<div class="panel panel-primary hidden-print">
    <div class="panel-heading">
        <h3 class="panel-title">DT05-A: BÁO CÁO THU - CHI CỦA CA BÁN VÉ</h3>
    </div>
    <div class="panel-body">
        <form name="reportForm" ng-submit="renderReport()" novalidate="" class="form-validate">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày bán từ
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="NgayBD" ng-model="input.NgayBD" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgayBD" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control" required
                            />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgayBD=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="NgayBD">Ngày bán từ không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ngày bán đến
                                <span class="text-danger">(*)</span>
                            </span>
                            <input type="text" name="NgayKT" ng-model="input.NgayKT" placeholder="Chọn/Nhập dd/MM/yyyy" is-open="openedNgayKT" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" class="form-control" required
                            />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedNgayKT=true" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="NgayKT">Ngày bán đến không được trống</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Đơn vị
                                <span class="text-danger">(*)</span>
                            </span>
                            <input name="MaDV" ng-model="input.MaDV" ng-change="changeMaDV(input.MaDV)" is-open="openedDonVi" tree-don-vi="" tree-data-level="5" tree-expand-level="1" is-owner="true" ng-click="openedDonVi=true" readonly="readonly" placeholder="Chọn đơn vị" required
                            class="form-control" />
                            <div class="input-group-btn">
                                <button type="button" ng-click="openedDonVi=true" class="btn btn-default">
                                    <em class="fa fa-folder-open"></em>
                                </button>
                            </div>
                        </div>
                        <error-show type="required" name="MaDV">Vui lòng chọn đơn vị bán vé bán vé</error-show>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Cửa vé</span>
                            <select name="MaCV" ng-model="input.MaCV" ng-options="i.Value as i.Text for i in listCuaVe" class="form-control">
                                <option value="">-- Tất cả cửa vé --</option>
                            </select>
                        </div>
                        <error-show type="required" name="MaCV">Vui lòng chọn cửa vé</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Nhân viên</span>
                            <select name="MaNV" ng-model="input.MaNV" ng-options="i.Value as i.Text for i in listNhanVien" class="form-control">
                                <option value="">-- Tất cả nhân viên --</option>
                            </select>
                        </div>
                        <error-show type="required" name="MaNV">Vui lòng chọn nhân viên</error-show>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" show-errors>
                        <div class="input-group">
                            <span style="width: 130px;" class="input-group-addon">Ca bán vé</span>
                            <select name="Ca" ng-model="input.Ca" ng-options="i.Value as i.Text for i in listCa" class="form-control">
                                <option value="">-- Tất cả các ca --</option>
                            </select>
                        </div>
                        <error-show type="required" name="Ca">Vui lòng chọn ca</error-show>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('report')">
                        <em class="fa fa-play-circle"></em>&nbsp; Báo cáo
                    </button>
                    <button type="submit" ng-disabled="loading" class="btn btn-default" ng-click="setButton('excel')">
                        <em class="fa fa-file-excel-o"></em>&nbsp; Xuất Excel
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="well well-lg report mb0">
    <div ng-show="loading" class="loading-spinner hidden-print" text="{{button=='excel'?'Đang xuất excel...':'Đang xuất báo cáo...'}}"></div>
    <div class="text-info hidden-print" ng-show="!submited">
        <div>
            <span class="fa fa-info-circle">&nbsp;</span>Chú ý!</div>
        <div>- Nhập các thông tin cần thiết sau đó bấm [Báo cáo] để xuất báo cáo, bấm [Xuất Excel] để tải về Excel.</div>
        <div>- Các thông tin có dấu
            <strong class="text-danger">(*)</strong>&nbsp; là bắt buộc phải nhập/chọn.</div>
    </div>
    <div ng-show="submited">
        <div ng-show="report.Data.length==0" class="alert alert-success mb0">Không có dữ liệu.</div>
        <div ng-show="report.Data.length>0" class="container-fluid">
            <table class="table report-head">
                <tr>
                    <td class="report-head-org hidden-xs">
                        <div ng-include="'app/views/partials/report-head-cong-ty.html'"></div>
                    </td>
                    <td class="report-head-title">
                        <h4>BÁO CÁO THU - CHI CỦA CA BÁN VÉ</h4>
                        <div>Cửa vé: {{report.Input.TenCV|empty:'Tất cả'}}, Nhân viên: {{report.Input.TenNV|empty:'Tất cả'}}, Ca: {{report.Input.TenCa|empty:'Tất cả'}}</div>
                        <div>Ngày bán từ {{report.Input.NgayBD|date:'dd/MM/yyyy'}} đến {{report.Input.NgayKT|date:'dd/MM/yyyy'}}</div>
                    </td>
                    <td class="report-head-info hidden-xs">
                        <div>Mẫu: DT05-A</div>
                        <div>Đơn vị tính: x1.000 đồng</div>
                    </td>
                </tr>
            </table>
            <div class="panel panel-primary report-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover report-table-lg">
                        <thead>
                            <tr>
                                <th rowspan="3" class="text-center w5">STT</th>
                                <th rowspan="3" class="text-center w15">LOẠI VÉ</th>
                                <th rowspan="2" class="text-center w10">SỐ LƯỢNG VÉ</th>
                                <th colspan="4" class="text-center w40">Tiền</th>
                                <th rowspan="2" class="text-center w30">GHI CHÚ</th>

                            </tr>
                            <tr>
                                <th class="text-center w10">TM</th>
                                <th class="text-center w10">CK</th>
                                <th class="text-center w10">GBT</th>
                                <th class="text-center w10">Cộng</th>
                            </tr>
                            <tr>
                                <th class="text-center">1</th>
                                <th class="text-center">2</th>
                                <th class="text-center">3</th>
                                <th class="text-center">4</th>
                                <th class="text-center">5</th>
                                <th class="text-center">6</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="group in report.Groups">
                            <tr style="page-break-before:auto;">
                                <td class="text-center">
                                    <span style="font-weight:bold;">{{group.MaNhomVe}}</span>
                                </td>
                                <td class="text-left">
                                    <span style="font-weight:bold;">{{group.TenNhomVe}}</span>
                                </td>
                                <td class="text-right">
                                    <span style="font-weight:bold;">{{group.Tong.SoVe|number}}</span>
                                </td>
                                <td class="text-right">
                                    <span style="font-weight:bold;">{{group.Tong.TienMat|abs|number}}</span>
                                </td>
                                <td class="text-right">
                                    <span style="font-weight:bold;">{{group.Tong.TienCK|abs|number}}</span>
                                </td>
                                <td class="text-right">
                                    <span style="font-weight:bold;">{{group.Tong.GBT|abs|number}}</span>
                                </td>
                                <td class="text-right">
                                    <span style="font-weight:bold;">{{group.Tong.TongTien|abs|number}}</span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr ng-repeat="item in group.Items" style="page-break-before:inherit;">
                                <td class="text-center">{{item.SoTT}}</td>
                                <td class="text-left">{{$index+1}}. {{item.LoaiVe}}</td>
                                <td class="text-right">{{item.SoVe|number}}</td>
                                <td class="text-right">{{item.TienMat|abs|number}}</td>
                                <td class="text-right">{{item.TienCK|abs|number}}</td>
                                <td class="text-right">{{item.GBT|abs|number}}</td>
                                <td class="text-right">{{item.TongTien|abs|number}}</td>
                                <td>{{item.GhiChu}}</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="text-right">
                                    <strong>TỔNG CỘNG (I) + (II) - (III)</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.SoVe|number}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.TienMat|number}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.TienCK|number}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.GBT|number}}</strong>
                                </td>
                                <td class="text-right">
                                    <strong>{{report.Tong.TongTien|number}}</strong>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-info">
                <div>
                    <span class="fa fa-info-circle">&nbsp;</span>Ghi chú</div>
                <div>- Tiền vé trả lại cho khách là Tiền mặt nếu vé mua trực tiếp tại Ga hoặc trả tiền qua đại lý</div>
                <div>- Tiền vé trả lại cho khách là chuyển khoản(CK) nếu mua vé trả tiền Online</div>
                <div>- Số liệu báo cáo đã bao gồm 1.000 đồng bảo hiểm và tiền thuế giá trị gia tăng</div>
                <div>- Báo cáo được lấy số liệu vào lúc {{report.ReportTime|date:'dd/MM/yyyy HH:mm'}}</div>
            </div>
        </div>
    </div>
</div>