<div style="width:100%">
    <div class="modal-header">
        <h3 style="display:inline-block" class="modal-title">Thông báo</h3><i style="float:right;font-size:18pt" ng-click="cancel()"
        class="text-danger icon-close"></i>
    </div>
    <div class="modal-body">
        <p style="text-align:justify;font-weight:bold;font-size:15pt">Bắt đầu từ 02/10/2022 phần mềm có thay đổi sau:</p>
        <ul style="list-style-type:circle">
            <li style="padding-top:5px; font-size:12pt">+ <b>Nhập thời gian đón ga dọc đường: </b>Nhập thời gian đón tại màn hình
                thay máy chính, móc,cắt toa xe đầu máy -> đoàn tàu sẽ có trạng thái xác
                báo thành phần.</li>
            <li style="padding-top:5px; font-size:12pt">+ <b>Nhập thời gian tiễn ga dọc đường: </b>Nhập thời gian tiễn tại màn
                hình xác nhận thành phần tàu -> đoàn tàu sẽ có trạng thái di chuyển.</li>
            <li
            style="padding-top:5px; font-size:12pt">+ <b>Nhập thời gian dồn tại ga dọc đường: </b>Điều độ tuyến phải nhập chính
                xác thời gian dồn tại ga dọc đường. Vào menu [Tác nghiệp vị trí tại KĐ]->[Nhập
                thời gian dồn]</li>
                <li style="padding-top:5px; font-size:12pt">+ <b>Điều chuyển máy: </b> mục đích chuyển máy từ ga này sang ga khác, và
                    được tính tấn số như ghép nguội <b>Lưu ý: Tính chất máy không đổi trong cả hành trình </b>
                </li>
        </ul>
        <button type="button" ng-click="cancel()" autofocus="" ng-enter="cancel()"
        class="btn btn-default">
            <span></span>Đóng</button>
    </div>
</div>