<div ng-show="report.CurrentNhanVien.MaCT=='TCT'||report.CurrentDonVi.MaCT=='TCT'">
    <div><span>&nbsp; &nbsp; &nbsp;Tổng công ty</span></div>
    <div><span>Đường sắt Việt Nam</span></div>
</div>
<div ng-show="report.CurrentNhanVien.MaCT=='KHN'||report.CurrentDonVi.MaCT=='KHN'">
    <div><span>&nbsp; &nbsp; &nbsp; &nbsp;Công ty cổ phần</span></div>
    <div><span>Vận tải đường sắt Hà Nội</span></div>
</div>
<div ng-show="report.CurrentNhanVien.MaCT=='KSG'||report.CurrentDonVi.MaCT=='KSG'">
    <div><span>&nbsp; &nbsp; &nbsp; &nbsp;Công ty cổ phần</span></div>
    <div><span>Vận tải đường sắt Sài Gòn</span></div>
</div>