<div ng-controller="WorkflowControlPhuongThucGNCtrl">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group input-group">
                <span class="input-group-addon">{{reference.LableType?reference.LableType:'Loại so sánh:'}}</span>
                <select
                class="form-control" name="ControlPhuongThucGNLoaiDieuKien{{$surfix}}"
                ng-model="dieuKien.LoaiDieuKien" required as-number>
                    <option value="">--Chọn--</option>
                    <option ng-repeat="ite in listDieuKien" value="{{ite.key}}">{{ite.value}}</option>
                    </select>
            </div>
            <error-show type="required" name="ControlPhuongThucGNLoaiDieuKien{{$surfix}}">Vui lòng chọn loại so sánh</error-show>
        </div>
        <div class="col-md-6">
            <div class="form-group input-group">
                <span class="input-group-addon">{{reference.LableValue?reference.LableValue:'P.Thức GN:'}}
                    <span class="text-danger">(*)</span>
                </span>
                <select class="form-control" name="ControlPhuongThucGNValue{{$surfix}}"
                ng-model="dieuKien.DKienIntValue" ng-required="dieuKien.LoaiDieuKien>0"
                as-number>
                    <option value="">--Chọn--</option>
                    <option ng-repeat="ite in listPTGN" value="{{ite.key}}">{{ite.value}}</option>
                </select>
            </div>
            <error-show type="required" name="ControlPhuongThucGNValue{{$surfix}}">Vui lòng chọn phương thức giao nhận</error-show>
        </div>
    </div>
</div>